venv
out/
*.pyc
__pycache__/
*.egg-info/
*.egg
dist/
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
artifacts/
*.zip
.DS_Store

# Coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/